@import "tailwindcss";

:root {
  /* background */
  --background: #fefefe;
  --background-banner: #ececec66;
  --foreground: #32407b;
  --dark-bg: #070d27;
  --btn-bg: #be968e;

  /* images */
  --color-mainCard: #f5f5f5;
  --progres-select: #d4d4d4;
  ----progres-bg-first: #f4f4f4;
  ----progres-bg-last: #0000004d;
  /* text colors */
  --text-color: #020202;
  --text-btn-color: #ffffff;
  --text-nav-color: #8a8a8a;

  /* typography */
  --font-family-poppins: "Poppins", sans-serif;
  --font-weight-normal: 400;
  --font-style-regular: normal;
  --font-size-base: 13px;
  --line-height-base: 100%;
  --letter-spacing-base: 0%;

  --font-weight-details: 700;
  --font-style-details: bold;
  --font-size-details: 80px;

  --font-weight-text: 600;
  --font-size-text: 32px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --shadow-input: 0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
  --color-banner: var(--background-banner);
  --color-black-text: var(--text-color);
  --color-mainCard: var(--color-mainCard);
  --color-progres-select: var(--progres-select);
  --color-progres-isSelect: var(--text-btn-color);
  --color-pink-btn: var(--btn-bg);
}

@layer components {
  .navText {
    font-family: var(--font-family-poppins);
    font-weight: var(--font-weight-normal);
    font-style: var(--font-style-regular);
    font-size: 10px;
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-base);
    color: var(--text-nav-color);
  }

  .productDetailsBg {
    font-size: 80px;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-color: white;
    width: 100%;
    opacity: 40%;
    font-weight: 600;
    font-size: 80px;
    font-family: var(--font-family-poppins);
  }
  .productText {
    font-family: var(--font-family-poppins);
    font-weight: var(--font-weight-text);
    font-size: var(--font-size-text);
  }

  @media (min-width: 1024px) {
    .navText {
      font-size: var(--font-size-base);
    }
  }

  .navIcon {
    color: var(--text-color);
  }

  .banner {
    @apply font-medium text-[12px] md:text-[16px] text-[#020202];
  }
}

/* @media (prefers-color-scheme: lig) {
  :root {
    --background: var(--dark-bg);
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* In globals.css or layout.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
